.navbar-logo {
    width: 75px;
    height: auto;
    margin-right: 20px;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
    background-color: rgb(255, 255, 255);
    flex: 1;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-display-text {
    width: 50%;
    margin-right: 20px;
}

.carousel-item img {
    max-width: 100%;
    height: 90vh;
}

#carouselExampleIndicators {
    width: 45vw;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); 
}

.gallery-box {
    margin: 50px;
}

.add-btn {
    height: 50px;
}

.con {
    border: 2px solid #ff0000;
}

.add-cart-btn {
    margin: 20px;
}

.delete-btn {
    background-color: #cd2b2b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 15px;
}
